extends weather.pug

block default   
       section(class="section")
            div(class="")
                div(class="")
                    div(class="")
                        div(class="")
                            article(class="")
                                
                                    div(class="")
                                    p
                                        span(class="title" id="city")
                                        br
                                        span(class="" id="temp") &deg
                                        br
                                        span(id="description")